<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis eros 
       pretium imperdiet egestas. Etiam consequat et urna in tincidunt. Duis quis magna 
       quam. In hac habitasse platea dictumst. In sit amet iaculis libero, volutpat tristique eros. 
       Sed fermentum urna ut porttitor euismod. Maecenas ullamcorper leo sed libero dignissim gravida. 
       Pellentesque eu magna eu velit egestas sodales.</p>
    </div>
</div>
